body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
  font-family: Verdana, Geneva, tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
/* :link is a pseudo-classes for the <a> tag */
a:link{
  color:white;
}
a:visited{
  color: blue;
}
a:hover{
  color:pink;
}
a:focus{
  color:orange
}
a:active{
  color:goldenred;
}
h1{
  background-color:lightblue;
  border: 2px pink solid;
  font-size:50px;
    text-align: center;
    
}
h2{
  text-align: center;
}
.container{
  Margin:5% 10% 5% 10%;
    border:5px lightblue solid;
  padding:130px
