nav {
  float:left;
  margin: 85px 0px 10px 10px;
  width: 450px;
  background-color: lightblue;
  border: 1px solid black;
}
nav ul li a:link, nav ul li a:visited {
  font-size:10pt;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 20px 7px 10px;
  
  color:blue;
}
Nav ul li a:hover, nav ul li a:active {
  font-size: 10pt;
    font-weight: bold;
  text-decoration: none;
  padding: 0px 20px 0px 10px;
  background-color: lightgreen;
  color:blue;
}
